#sidebar {
  background-color: #F9F9F9;
  display: inline-block;
  width: 266px;
  height: 556px;
  position: absolute;
  margin-left: 7px;
  border-radius: 3px;
}

#dept-select {
  width: 48%;
}

#grade-select {
  width: 63px;
}

#search-input {
  width: calc(85% - 80px);
  padding: 0px 0px 0px 8px;
}

#search-mode {
  position: absolute;
  left: calc(85% - 63px);
  width: 80px
}

#dept-select, #grade-select, #search-input, #search-mode {
  background-color: #FFF;
  display: inline-block;
  height: 30px;
  margin: 7px 0px 0px 7px;
  border: 0px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 2px black;
}

.legend {
  display: block;
  position: relative;
  float: left;
  z-index: 5;
  margin-bottom: -10px;
  margin-left: 1.5em;
  font-size: 13px;
  text-shadow: 1px 1px 3px #FFF;
}

#credits-counter {
  position: absolute;
  right: 33px;
}

.course-list {
  background-color: #EAEAEA;
  display: inline-block;
  width: 90%;
  height: calc(46% - 36px);
  margin-left: 5%;
  box-shadow: inset 0px 0px 7px;
  border-radius: 5px;
  overflow-y: scroll;
}

.course-list ul {
  display: block;
  padding-left: 4px;
  list-style-type: none;
}

.subject {
  padding: 4px 0px 4px 0px;
  font-size: 14px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.subject:hover {
  background-color: #CCC;
}

.subject span:nth-child(1) {
  display: block;
}

.subject span:nth-child(2),
.subject span:nth-child(3) {
  display: block;
  padding-right: 7px;
  text-align: right;
}

.obligatory-btn, .elective-btn, .remove-btn {
  padding: 1px 3px 1px 3px;
  color: white;
  text-decoration:none;
  border-radius: 3px;
}

.obligatory-btn {
  background-color: blue;
}

.elective-btn {
  background-color: green;
}

.remove-btn {
  background-color: red;
  margin-left: 3px;
}