#timetable {
  background-color: #DEDEDE;
  display: inline-block;
  width: 70%;
  height: calc(40px * 15 - 17px);
}

.column {
  display: inline-block;
  width: calc(70% / 7);
  height: calc(40px * 15 - 17px);
  position: absolute;
  font-family: Arial;
  font-size: 14px;
}

.column:nth-child(1) {
  left: calc(70% / 7 * 0 + 2%);
}

.column:nth-child(2) {
  left: calc(70% / 7 * 1 + 2%);
}

.column:nth-child(3) {
  left: calc(70% / 7 * 2 + 2%);
}

.column:nth-child(4) {
  left: calc(70% / 7 * 3 + 2%);
}

.column:nth-child(5) {
  left: calc(70% / 7 * 4 + 2%);
}

.column:nth-child(6) {
  left: calc(70% / 7 * 5 + 2%);
}

.column:nth-child(7) {
  left: calc(70% / 7 * 6 + 2%);
}

.cell {
  background-color: #F9F9F9;
  width: 100%;
  height: 40px;
  padding-left: 2px;
  text-align: center;
}

.cell:nth-child(1) {
  background-color: #F9F9F9 !important;
  height: 20px !important;
}

.cell:nth-child(2),
.cell:nth-child(4),
.cell:nth-child(6),
.cell:nth-child(8),
.cell:nth-child(10),
.cell:nth-child(12),
.cell:nth-child(14) {
  background-color: #E5E5E5;
}

.course {
  width: 90%;
  height: 80%;
  position: relative;
  top: 2px;
  padding: 2px 3px 2px 3px;
  border-radius: 4px;
}

#course-detail {
  background-color: #FFFFFF;
  width: 200px;
  height: 80px;
  padding: 10px 0px 10px 13px;
  position: absolute;
  z-index: 10;
  border-radius: 3px;
  box-shadow: 1px 1px 1px black;
}

#course-detail span {
  display: block;
  font-size: 14px;
  line-height: 20px;
}