@import url('css/navbar.css');

@import url('css/sidebar.css');

@import url('css/timetable.css');

@import url('css/mobile.css');

html {
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #B9C6B2;
  height: 100%;
  margin: 0;
  padding: 0;
}

#popup-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  overflow-y: visible;
}

#export-svg {
  position: absolute;
  width: 652px;
  height: 100%;
  left: calc(50% -         317.5px);
  overflow-x: hidden;
}

#content-container {
  display: relative;
  width: 100%;
  height: calc(100% -         50px);
  margin-top: 50px;
  left: calc(50% -         455px);
  box-sizing: border-box;
}